<div class="container">
  <h1 class="text-center">Selbstgemachte Kuchen aus Liebe</h1>
  <p class="text-center">Wählen Sie einen Kuchen aus, um mehr Informationen zu sehen und zu bestellen.</p>

  <div class="row">
    <div *ngFor="let kuchen of kuchenListe" class="col-md-4">
      <div class="card kuchen-card" (click)="selectKuchen(kuchen)">
        <img class="card-img-top" [src]="kuchen.bild" [alt]="kuchen.name">
        <div class="card-body">
          <h5 class="card-title">{{ kuchen.name }}</h5>
          <p class="card-text">Preis: {{ kuchen.preis | currency:'EUR' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedKuchen" class="kuchen-details" #detailsSection>
    <h2>{{ selectedKuchen.name }}</h2>
    <img [src]="selectedKuchen.bild" [alt]="selectedKuchen.name" class="kuchen-image">
    <p><strong>Preis:</strong> {{ selectedKuchen.preis | currency:'EUR' }} inkl 19% Mehrwertsteuer </p>
    <p><strong>Details:</strong> {{ selectedKuchen.details }}</p>


    <!-- Anzeige der Zahlungsmethode -->
    <div *ngIf="selectedKuchen.paymentMethod.type === 'button'">
      <div id="paypal-container-W2WS9JQPP2JRL"></div>
    </div>

    <div *ngIf="selectedKuchen.paymentMethod.type === 'link'">
      <p><a [href]="selectedKuchen.paymentMethod.url" target="_blank" class="btn btn-primary">Jetzt bezahlen</a></p>
    </div>

    <div *ngIf="selectedKuchen.paymentMethod.type === 'qr'">
      <img [src]="selectedKuchen.paymentMethod.qrCodeUrl" alt="PayPal QR Code" class="img-fluid">
    </div>
  </div>
</div>
