.container {
  margin-top: 20px;
}

.card {
  cursor: pointer;
  margin-bottom: 20px;
}

.kuchen-card {
  max-width: 300px;
  margin: 10px auto; 
}

.card-title {
  font-size: 1.25rem; 
}


img.img-fluid {
  max-width: 100%;
  height: auto;
}
.kuchen-image {
  max-width: 100%; 
  height: auto;
  display: block; 
  margin: 0 auto;
  max-height: 300px; 
  object-fit: cover; 
}

.card-text {
  font-size: 1rem;
}

